
/* style.css | file:///home/daydrinking/odin-projects/css-exercises/flex/06-flex-layout/style.css */

.left-links {
  flex: 1;
}

.right-links {
  flex: 1;
}

.content {
  align-items: center;
  justify-content: center;
}

img {
  flex: 1;
}

body {
  display: flex;
}

.header {
  flex: 1 0 auto;
}

/* Element | file:///home/daydrinking/odin-projects/css-exercises/flex/06-flex-layout/index.html# */

.buttons {
  flex: 1;
}

/* Element | file:///home/daydrinking/odin-projects/css-exercises/flex/06-flex-layout/index.html# */

.input {
  flex: 1;
}

