@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}
.header {
	display: flex;
	align-items: center;
	flex: 0 1 auto;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #444;
}
.left-links {
	display: flex;
	flex: 1;
	justify-content: left;
	margin-left: 32px;
	gap: 32px;
}
.right-links {
	display: flex;
	flex: 1;
	justify-content: right;
	gap: 32px;
	margin-right: 32px;
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 0 auto;
}
.image {
	display: flex;
	justify-content: center;
}
.input {
	flex: 0 1 auto;
	display: flex;
	justify-content: center;
}
.footer {
	display: flex;
	flex: 0 1 auto;
}

img {
  width: 600px;
  flex: 0 1 auto;
}

.buttons {
	display: flex;
	flex: 0 1 auto;
	justify-content: center;
	gap: 8px;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
